<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<dict>
		<key>siteId</key>
		<string>303827</string>
		<key>network</key>
		<string>labs-t402.fyre.co</string>
		<key>environment</key>
		<string>t402.livefyre.com</string>
	</dict>
	<key>collections</key>
	<array>
		<dict>
			<key>_name</key>
			<string>LF Login</string>
			<key>environment</key>
			<string>qa-ext.livefyre.com</string>
			<key>network</key>
			<string>qa-blank.fyre.co</string>
			<key>siteId</key>
			<string>291345</string>
			<key>articleId</key>
			<string>designer-app-1444956522234</string>
			<key>needLogin</key>
			<true/>
			<key>next</key>
			<string>aHR0cDovL2xpdmVmeXJlLWNkbi1kZXYuczMuYW1hem9uYXdzLmNvbS9kZW1vcy9sZmVwMi1jb21tZW50cy5odG1s</string>
		</dict>
	</array>
</dict>
</plist>
